<!DOCTYPE html>

<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>Pokemon List with Angular</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="pokemonStyle.css" rel="stylesheet" type="text/css">
    <link href="pokemonStyleTypes.css" rel="stylesheet" type="text/css">
</head>

<body ng-controller="pokeController">

<header>
    Pokemon list
</header>

<div class="container-fluid mainContainer">

<div class="pokemonListNavBar col-md-offset-1 col-md-10">
    <div class="row">

        <div class="col-md-offset-1 col-md-10">

            <form class="form-inline">
                <div class="col-md-5">
                <input class="form-control" id="listFrom" type="number" ng-model="listFrom">
                </div>
                <div class="col-md-5">
                <input class="form-control " id="listTo" type="number" ng-model="listTo">
                </div>
                <div class="col-md-2">
                <button class="btn btn-default refreshPokemonList" ng-click="refreshPokemonList()">
                    Refresh list
                </button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8 ">
                <form class="form-inline filterTypeForm" id="filterTypeList" >
                    <div class='checkbox' ng-repeat="f in ngFilterTypeList">
                        <label>
                            <input type='checkbox'  ng-click="ngFilterTypeChange(f)" />
                            {{f.type}}
                        </label>
                    </div>
                </form>
        </div>
    </div>
</div>

    <div class="row">

            <div class="col-xs-1 col-md-offset-3 col-md-6 container text-center" id="pokemonListContainer">
                <ul class="pokemonList">
                    <li class="{{p.typeClass}}" ng-repeat="p in ngPokemonList| orderBy : 'id' " ng-show="p.show">
                        {{p.name}}
                        <img src="//raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{p.id}}.png">
                    </li>
                </ul>
            </div>

    </div>
</div>


<script src="jquery.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
</script>

<script src="ngPokeController.js"></script>

</body>
</html>