.pokemonList>li.grass{
    /*border: 5px solid green;*/
    background-color: green;
}

.pokemonList>li.poison{
    /*border: 5px solid purple;*/
    background-color: purple;
}

.pokemonList>li.fire{
    background-color: #ff7b2e;
}
.pokemonList>li.fire.flying{
    background: linear-gradient(90deg, #ff7b2e 50%, mediumpurple  50%);
}
.pokemonList>li.grass.poison{
    /*border-left: 5px green;*/
    /*border-right: 5px purple;*/

    background: linear-gradient(90deg, green 50%, purple 50%);
}

.pokemonList>li.water{
    background-color: #3f96ff;
}
.pokemonList>li.bug{
     background-color: lightgreen;
 }

.pokemonList>li.bug.poison{
    background: linear-gradient(90deg, lightgreen 50%, purple 50%);
}

.pokemonList>li.flying{
    background-color: mediumpurple;
}
.pokemonList>li.flying.normal{
    background: linear-gradient(90deg, mediumpurple 50%, #A8A878  50%);
}
.pokemonList>li.normal{
    background-color: #A8A878;
}
.pokemonList>li.electric{
    background-color: yellow;
}
